<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-light m-3">


  <div style="text-align:center">
    <h1 class="mt-3">
      Welcome to {{ title }}!
    </h1>
  </div>
</div>
<div class="container row m-3 mt-6 bg-light">
  <div class=" col-6">
    <h3>Concepts already covered in the last sesssion</h3>
    <ul>
      <li class="text-success">
        <h5>git?</h5>
      </li>
      <li class="text-success"><span>fork</span></li>
      <li class="text-success"> <span>clone</span></li>
      <li class="text-success"><span>remote</span></li>
      <li class="text-success"> <span>checkout</span></li>
      <li class="text-success"><span>commit</span></li>
      <li class="text-success"><span>push</span></li>
      <li class="text-success"> <span>pull</span></li>
    </ul>
  </div>
  <div class="col-6">
    <h3>Points to be covered In this session</h3>
    <code class="bg-secondary text-white">git merge </code>
    <br />
    <code class="bg-secondary text-white">git rebase</code>
  </div>
</div>