<!--The content below is only a placeholder and can be replaced.-->
<div class="bg-light m-3">


  <div style="text-align:center">
    <h1 class="mt-3">
      Welcome to {{ title }}!
    </h1>
  </div>
</div>
<div class="container row m-3 mt-6 bg-light">
  <div class=" col-6">
    <h3>Concepts already covered</h3>
    <ul>
      <li>
        <span>git?</span>
       <code class="row m-1 bg-success text-white">fork</code>
       <code class="row m-1 bg-success text-white">clone</code>
       <code class="row m-1 bg-success text-white">remote</code>
       <code class="row m-1 bg-success text-white">checkout</code>
       <code class="row m-1 bg-success text-white">commit</code>
       <code class="row m-1 bg-success text-white">push</code>
       <code class="row m-1 bg-success text-white">pull</code>
       
    </ul>
  </div>
  <div class="col-6">
    <h3>Points to be covered In this session</h3>
    <span>branching</span>
    <code class="row m-1 bg-secondary text-white">git checkout</code>
    <code class="row m-1 bg-secondary text-white">git merge </code>
    <code class="row m-1 bg-secondary text-white">git mergetool</code>
    <span class="row m-1 bg-secondary text-white">merge conflicts</span>
    <code class="row m-1 bg-secondary text-white">git rebase</code>
  </div>
</div>